body {
    overflow: hidden;
}

#map {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: rgb(0,105,148);
    position: absolute;
    overflow: hidden;

}

/*.leaflet-zoom-animated {*/
    /*background: url('/img/europe.svg');*/
/*}*/

.info {
    padding: 6px 8px;
    font-family: serif;
    font-size: small;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}



.leaflet-control-attribution {
    display: none;
}

.contry-color-list {
    position: relative;
    float: right;
    width: 19px;
    height: 19px;
}

.leaflet-left.leaflet-bottom div {
    z-index: 9999;
    max-height: 600px;
    /*overflow-y: scroll;*/
}

.region-edit-panel {
    position : absolute;
    z-index: 9999;
    pointer-events: none;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 2px 8px;
    font-family: serif;
    font-size: small;
    text-align: center;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
}

.mapmode {
    padding: 2px 8px;
    font-family: serif;
    font-size: small;
    text-align: center;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 9999;
    width: 200px;
    left: 40px;
    top: 72px;
    position: fixed;
    display:block !important;
}

.mapmode input {
    float: right;
    width: 50%;
}
.mapmode span {
    text-align: left;
    float: left;
}

.region_edit_title {
    text-align: center;
    text-transform: uppercase;
}

.region_edit_wrapper {
    width: 50%;
}

.region_edit_id {
    width: 100%;
}

.region_edit_id span {
    float: right;
    background: white;
    width: 50%;
}




.demo {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

/*.chat_wrapper .messages{*/
    /*height: 300px;*/
    /*border: 1px solid #d4d4d4;*/
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
    /*padding: 5px;*/
/*}*/

/*.chat_wrapper .messages .user{*/
    /*color: #B22222;*/
/*}*/

/*.chat_wrapper .message{*/
    /*width: 70%;*/
/*}*/

/*.chat_wrapper .panel{*/
    /*margin-top: 8px;*/
    /*padding-bottom: 8px;*/
/*}*/

/*#message_text{*/
    /*width: 70%;*/
    /*display: inline-block;*/
    /*margin-left: 8px;*/
/*}*/

.login_chat {
    padding: 20px;
    width: 150px;
}

.login_chat input {
    width: 100%;
}
.login_chat .btn_wrapper {
    width: 100%;
}
.login_error_text {
    width: 100%;
    color: red;
}

#chat-window {
    bottom: 20px;
    right: 30px;
    position: fixed;
    background: white;
    width: 300px;
    height: 300px;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput, .login.page .form .passwordInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    /*padding-bottom: 10px;*/
    text-align: center;
    width: 250px;
    margin: 0 25px 10px;
    color: #fff;
    font-size: 12px;
}
.login.page .form .passwordInput {

}
.login.page .title {
    font-size: 200%;
}

/*.login.page .usernameInput {*/
    /*font-size: 200%;*/
    /*letter-spacing: 3px;*/
/*}*/

.login.page .title {
    color: #fff;
}

/* Chat page */

.chat.page {
    display: none;
}

/* Font */

.messages {
    /*font-size: 150%;*/
}

.inputMessage {
    font-size: 100%;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

/* Messages */

.chatArea {
    height: 100%;
    padding-bottom: 60px;
    float: left;
    width: 200px;
}

.messages {
    height: 245px;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

/* Input */

.inputMessage {
    border: 2px solid #000;
    bottom: 0;
    height: 30px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 187px;
}

.chatUsers, .chatUsers ul {
    width: 100px;
    height: 300px;
    float: right;
    padding: 0;
}