/*@font-face {*/
    /*font-family: 'UnifrakturCook';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(https://fonts.gstatic.com/s/unifrakturcook/v8/ASwh69ykD8iaoYijVEU6RpMdj8Gkv7ccSfgBBVtwm5Y.woff2) format('woff2');*/
    /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
/*}*/
/*body, div, span, input {*/
    /*font-family: 'UnifrakturCook', cursive !important;*/
/*}*/
body {
    overflow: hidden;
}

#loading {
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1010;
}
.loading_wrapper {
    position: fixed;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    font-family: Arial;
    font-size: 16px;
    color: black;
    text-align: center;
}

.loading_image {
    width: 180px;
    height: 60px;
    padding: 10px;
}

#map {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    background-color: rgb(0,105,148);
    position: absolute;
    overflow: hidden;
}

/*.leaflet-zoom-animated {*/
    /*background: url('/img/europe.svg');*/
/*}*/

.info {
    padding: 6px 8px;
    font-family: serif;
    font-size: small;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}



.leaflet-control-attribution {
    display: none;
}

.contry-color-list {
    position: relative;
    float: right;
    width: 19px;
    height: 19px;
}

.leaflet-left.leaflet-bottom div {
    z-index: 9999;
    max-height: 600px;
    /*overflow-y: scroll;*/
}

.region-edit-panel {
    position : absolute;
    z-index: 9999;
    pointer-events: none;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 2px 8px;
    font-family: serif;
    font-size: small;
    text-align: center;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: block;
}

.mapmode {
    padding: 2px 8px;
    font-family: serif;
    font-size: small;
    text-align: center;
    background-color: #fff;
    border: 1px solid #999;
    border-color: rgba(0,0,0,.4);
    border-radius: 3px;
    box-shadow: none;
    z-index: 9999;
    width: 200px;
    left: 40px;
    top: 72px;
    position: fixed;
    display:block !important;
}

.mapmode input {
    float: right;
    width: 50%;
    border-radius: 0px !important;
    border-bottom: 1px solid #999 !important;
}
.mapmode span {
    text-align: left;
    float: left;
}
.mapmode button {
    border-radius: 4px !important;
    border: 1px solid #999 !important;
    background: white;
    width: 56px;
    margin: 0 5px;
}

.region_edit_title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.region_edit_wrapper {
    width: 100%;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 14px;
}

.region_edit_id span {
    float: right;
    background: white;
    width: 50%;
}
.region_edit_wrapper input, .region_edit_wrapper span {
    border: none;
    border-radius: 4px;
    padding: 0 5px;
    line-height: 20px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 14px;
    text-transform: none;
}




.demo {
    width: 600px;
    margin: 20px auto;
    padding: 10px;
    color: #4F6B72;
    font-family: "PT Sans", Verdana, Arial, sans-serif;
    font-size: 13px;
}

.login_chat {
    padding: 20px;
    width: 150px;
}

.login_chat input {
    width: 100%;
}
.login_chat .btn_wrapper {
    width: 100%;
}
.login_error_text {
    width: 100%;
    color: red;
}

#chat-window {
    bottom: 20px;
    right: 20px;
    position: fixed;
    background: white;
    width: 300px;
    height: 300px;
    border: 4px double #999999;
    border-radius: 8px;
    z-index: 1020;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

.login.page .form {
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput, .login.page .form .passwordInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999999;
    outline: none;
    padding-bottom: 8px;
    text-align: center;
    width: 250px;
    margin: 0 25px 10px;
    color: #000000;
    font-size: 14px;
}
.login.page .form .passwordInput {

}
.login.page .title {
    font-size: 200%;
}

.login_btn {
    background: white;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #999 !important;
}

.chat.page {
    display: none;
}

.log {
    color: gray;
    font-size: 70%;
    margin: 5px;
    text-align: center;
}

.chatArea {
    height: 100%;
    padding-bottom: 60px;
    float: left;
    width: 200px;
}

.messages {
    height: 247px;
    border-right: 1px solid #000;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
    color: gray;
}

.username {
    float: left;
    font-weight: 700;
    overflow: hidden;
    padding-right: 15px;
    text-align: right;
}

.inputMessage {
    border: none;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    bottom: 0;
    height: 30px;
    left: 0;
    outline: none;
    padding-left: 10px;
    position: absolute;
    right: 0;
    width: 189px;
}

.chatUsers, .chatUsers ul {
    width: 100px;
    height: 270px;
    float: right;
    padding: 0;
}
.chatUsers span  {
    padding: 5px 5px;
    text-transform: uppercase;
    float: left;
    width: 90px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.users-item {
    padding: 5px 10px;
}